<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bring Your Vision to Life!</h2>
                <hr class="light">
                <p class="text-faded">From snappy social media clips to polished promotional videos, I specialize in crafting short-form content that engages, entertains, and inspires. With a focus on creativity and storytelling, I’ll help you connect with your audience in a way that’s fun, fresh, and unforgettable. Let’s make something amazing!</p>
                <a href="#" class="btn btn-default btn-xl">Let’s Get Started!</a>
            </div>
        </div>
    </div>
</section>
