<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi! I bring big ideas to life in small packages. Let’s create something fun, fast, and unforgettable together!</h1>
            <hr>
            <p>I create short, fun videos that grab attention and tell your story. From quick edits to full video production, I’ll help bring your ideas to life!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
